NAME : MYDUKURI RADHA KOMALIDEVI
REG NO: 21BCE9071

In [ ]:
import numpy as np
import pandas as pd

Task-1 Createt a pandas (Data frame name as 'df') (10 observations and 5 features)

In [ ]:
df=pd.read_csv("/content/sample_data/mtcars.csv")
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [ ]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
df.tail()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

Task-2 Check the info of 'df'

In [ ]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

Task-4 Check the 4th index observation with 'loc' slicing operator.

In [ ]:
df.loc[3:3, :]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1

Task-5 Check the null values in your 'df'

In [ ]:
df.isnull().any()

model    False
mpg      False
cyl      False
disp     False
hp       False
drat     False
wt       False
qsec     False
vs       False
am       False
gear     False
carb     False
dtype: bool

ASSIGNMENT-1
Task-1 Create a pandas dataframe(DataFrame name as 'df') with numpy random values(4 features and 4 observations)

In [ ]:
data=np.random.rand(4,4)
df=pd.DataFrame(data, columns=['Feature1', 'Feature2', 'Feature3','Feature4'])
df

   Feature1  Feature2  Feature3  Feature4
0  0.980312  0.362363  0.004675  0.714963
1  0.439609  0.408548  0.446308  0.730966
2  0.947101  0.012862  0.898208  0.227746
3  0.270643  0.678466  0.340716  0.305615

Task-2 Rename the task-1 'df' dataframe column names to 'Random Values 1', 'Random Values 2', 'Random Values 3', &'Random Values 4'

In [ ]:
new_column_names=['Random Values 1','Random Values 2','Random Values 3','Random Values 4']
df.columns=new_column_names
df

   Random Values 1  Random Values 2  Random Values 3  Random Values 4
0         0.980312         0.362363         0.004675         0.714963
1         0.439609         0.408548         0.446308         0.730966
2         0.947101         0.012862         0.898208         0.227746
3         0.270643         0.678466         0.340716         0.305615

Task-3 Find the descriptive statisics of the 'df' dataframe.

In [ ]:
df.describe()

       Random Values 1  Random Values 2  Random Values 3  Random Values 4
count         4.000000         4.000000         4.000000         4.000000
mean          0.659416         0.365560         0.422477         0.494822
std           0.358328         0.273352         0.368841         0.265427
min           0.270643         0.012862         0.004675         0.227746
25%           0.397367         0.274988         0.256706         0.286148
50%           0.693355         0.385456         0.393512         0.510289
75%           0.955404         0.476028         0.559283         0.718964
max           0.980312         0.678466         0.898208         0.730966

Task-4 Check for the null values in 'df' and find the datatype of the columns.

In [ ]:
df.isnull().any()

Random Values 1    False
Random Values 2    False
Random Values 3    False
Random Values 4    False
dtype: bool

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Random Values 1  4 non-null      float64
 1   Random Values 2  4 non-null      float64
 2   Random Values 3  4 non-null      float64
 3   Random Values 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

Task-5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [ ]:
df.loc[:,'Random values 2':'Random values 3']

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [ ]:
df.iloc[:,1:3]

   Random Values 2  Random Values 3
0         0.362363         0.004675
1         0.408548         0.446308
2         0.012862         0.898208
3         0.678466         0.340716